@{
    ViewBag.Menu = "D6Main";
    ViewBag.SubMenu = "D6RiskReviewHandleSub";
    ViewBag.Title = "風控覆核專區(經辦)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="main">
    <div class="row main_hand">
        <div class="col-md-12 main_hand_div">
            <form id="myForm">
                <table>
                    <tr>
                        <td style="padding-top:5px;" class="form-group">
                            <label>評估基準日/報導日 : </label>
                            <input type="text" id="datepicker" name="datepicker">
                        </td>
                        <td style="padding-top:5px;">
                            <label>版本 : </label>
                            <select id="version" name="version" class="form-control" style="display:inline-block" />
                        </td>
                        <td style="padding-top:5px;">
                            &emsp;&emsp;&nbsp;<label>版本內容 : </label>
                            <select id="content" name="content" class="form-control" style="display:inline-block" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:5px;">
                            <label>覆核狀態 : </label>&emsp;&emsp;&nbsp;
                            <select id="status" name="status" class="form-control" style="display:inline-block" />
                        </td>
                        <td style="padding-top:5px;">
                            <label>產品 : </label>
                            <select id="product" name="product" class="form-control" style="display:inline-block" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:10px;">
                            <input type="button" class="btn btn-primary" value="查詢" id="btnD6RiskReviewHandleSearch" style="margin-right:10px;" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="row main_body" style="overflow:auto;height:100%">
        <div class="col-md-12">
            <div class="viewDetail">
                <div id="formDiv"></div>
                <div id="annexDiv" style="display:none">
                    <table style="width:100%">
                        <tr class="fileUpLoad">
                            <td style="padding-top:10px">
                                @using (Ajax.BeginForm("UpLoadQualitativeFile", "D6",
                                    new AjaxOptions { HttpMethod = "POST" },
                                    new
                                    {
                                        enctype = "multipart/form-data",
                                        @id = "annexForm"
                                    }))
                                {
                                    <input type="file" id="annexFile" class="filestyle" data-buttonName="btn-primary" data-buttonText="開啟檔案" />
                                }
                            </td>
                            <td style="padding-top:10px">
                                <input type="button" id="annexFileSubmit" class="btn btn-primary" style="margin-right:10px" value="檔案上傳" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="annexList" class="jqd" style="padding-top:10px; width:100%"></div>
                            </td>
                        </tr>
                        <tr style="display:none">
                            <td colspan="2">
                                <input type="hidden" id="annexFolder" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="signOffDiv" style="display:none">
                    <table style="width:100%">
                        <tr>
                            <td colspan="2">
                                <textarea id="signOffTextArea" maxlength="255" style="overflow-y: scroll; white-space:pre-wrap;max-width:100%;width:100%;height:135px;"></textarea>
                            </td>
                        </tr>
                        <tr class="textareaEdit">
                            <td style="padding-top:10px;">
                                <input type="button" class="btn btn-primary" value="存檔" id="signOffSave" />
                            </td>
                            <td style="padding-top:10px;float:right;">
                                <input type="button" class="btn btn-primary" value="取消" id="signOffCancel" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="opinionList" class="jqd" style="padding-top:10px; width:100%"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="reviewDiv" style="display:none">
                    <table style="width:100%">
                        <tr>
                            <td width="450px">
                                <label>一階覆核者 : </label>
                                @Html.DropDownList("reviewOne",
                               (SelectList)ViewBag.userAccount,
                               new { @class = "form-control", @style = "display:inline-block" })
                            </td>
                        </tr>
                        <tr>
                            <td width="450px">
                                <label>二階覆核者 : </label>
                                @Html.DropDownList("reviewTwo",
                               (SelectList)ViewBag.userAccount,
                               new { @class = "form-control", @style = "display:inline-block" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px;">
                                <input type="button" class="btn btn-primary" value="確定" id="reviewConfirm" />
                            </td>
                            <td style="padding-top:10px;float:right;">
                                <input type="button" class="btn btn-primary" value="取消" id="reviewCancel" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //註冊URL
        var url = {};
        url.version = '@Url.Action("GetD6RiskReviewVersion","D6")';
        url.content = '@Url.Action("GetD6RiskReviewContent","D6")';
        url.status = '@Url.Action("GetD6RiskReviewStatus","D6")';
        url.product = '@Url.Action("GetD6RiskReviewProduct","D6")';
        url.handle = '@Url.Action("GetD6RiskReviewHandle","D6")';
        url.review = '@Url.Action("GetD6RiskReviewReview","D6")';
        url.getFile = '@Url.Action("GetD6RiskReviewFile","D6")';
        url.delFile = '@Url.Action("DelFile","D6")';
        url.submit = '@Url.Action("SubmitD6Review","D6")';
        url.close = '@Url.Action("CloseD6Review","D6")';

        //Joe:點選 ReportDate 觸發行為
        var versionFun = function () {
            $("#status option").remove();
            $("#product option").remove();
            $("#content option").remove();
            $('#formDiv').children().remove();
            customerUtility.getData("version", $('#datepicker').val(), url.version, null, "0");
        }
        var contentFun = function () {
            $('#formDiv').children().remove();
            customerUtility.getData("content", [$('#datepicker').val(), $('#version').find(':selected').val()], url.content, null, $('#version').find(':selected').val());
            customerUtility.getData("status", [$('#datepicker').val(), $('#version').find(':selected').val()], url.status, selectFun, $('#version').find(':selected').val());
            customerUtility.getData("product", [$('#datepicker').val(), $('#version').find(':selected').val()], url.product, selectFun, $('#version').find(':selected').val());
        }
        var selectFun = function () {
            customerUtility.setSelect("status", "_", 0, 1);
            customerUtility.setSelect("product", "|", 0, 1);
        }

        //註冊datepicker
        created.createDatepicker('datepicker', true, '', versionFun);

        //註冊verified
        verified.datepicker("myForm", "datepicker", true, $('#datepicker').val());

        //註冊click事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'btnD6RiskReviewHandleSearch':
                    $('#' + id).on('click', function () { search() });
                    break;
                case 'annexFileSubmit':
                    $('#' + id).on('click', function () { annexFileSubmit() });
                    break;
                case 'signOffSave':
                    $('#' + id).on('click', function () { signOffSave() });
                    break;
                case 'signOffCancel':
                    $('#' + id).on('click', function () { signOffCancel() });
                    break;
                case 'reviewConfirm':
                    $('#' + id).on('click', function () { reviewConfirm() });
                    break;
                case 'reviewCancel':
                    $('#' + id).on('click', function () { reviewCancel() });
                    break;
            }
        })

        //註冊select事件
        $('select').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'version':
                    $('#' + id).on('change', function () {
                        contentFun();
                    });
                    break;
            }
        })

        //Joe:建立報表資料
        var reportData =
        {
            "D62Handle": "", "D62HandleOpinion": "",
            "D63、D64Handle": "", "D63、D64HandleOpinion": "",
            "SummaryHandle": "", "SummaryHandleOpinion": "",
            "WatchINDHandle": "", "WatchINDHandleOpinion": "",
            "WarningINDHandle": "", "WarningINDHandleOpinion": "",
            "C07AdvancedHandle": "", "C07AdvancedHandleOpinion": "",
            "D62ReviewOne": "", "D62ReviewOneOpinion": "",
            "D63、D64ReviewOne": "", "D63、D64ReviewOneOpinion": "",
            "SummaryReviewOne": "", "SummaryReviewOneOpinion": "",
            "WatchINDReviewOne": "", "WatchINDReviewOneOpinion": "",
            "WarningINDReviewOne": "", "WarningINDReviewOneOpinion": "",
            "C07AdvancedReviewOne": "", "C07AdvancedReviewOneOpinion": "",
            "D62ReviewTwo": "", "D62ReviewTwoOpinion": "",
            "D63、D64ReviewTwo": "", "D63、D64ReviewTwoOpinion": "",
            "SummaryReviewTwo": "", "SummaryReviewTwoOpinion": "",
            "WatchINDReviewTwo": "", "WatchINDReviewTwoOpinion": "",
            "WarningINDReviewTwo": "", "WarningINDReviewTwoOpinion": "",
            "C07AdvancedReviewTwo": "", "C07AdvancedReviewTwoOpinion": "",
        };

        //Joe:取得附件
        function getAnnex(Check_Reference) {
            var _annexData = {};
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    Check_Reference: Check_Reference
                }),
                async: false,
                dataType: "json",
                url: url.getFile,
                contentType: 'application/json'
            })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        _annexData = result.Datas.Data;
                    }
                })
            return _annexData;
        }

        //Joe:建立簽核資料
        var formLevel = "";
        var userLevel = "";
        var date = new Date();
        var signOffData =
        {
            "Reference_Nbr": "", "Report_Date": "",
            "Version": "", "Version_Content": "",
            "Before_Status": "", "Status": "", "Description": "",
            "Group_Product_Code": "", "Group_Product_Name": "",
            "Create_User": "", "First_Order_User": "", "Second_Order_User": "",
            "First_Order_Confirm": "", "Second_Order_Confirm": "",
            "D62Handle": "", "D62HandleOpinion": "",
            "D63、D64Handle": "", "D63、D64HandleOpinion": "",
            "SummaryHandle": "", "SummaryHandleOpinion": "",
            "WatchINDHandle": "", "WatchINDHandleOpinion": "",
            "WarningINDHandle": "", "WarningINDHandleOpinion": "",
            "C07AdvancedHandle": "", "C07AdvancedHandleOpinion": "",
            "D62ReviewOne": "", "D62ReviewOneOpinion": "",
            "D63、D64ReviewOne": "", "D63、D64ReviewOneOpinion": "",
            "SummaryReviewOne": "", "SummaryReviewOneOpinion": "",
            "WatchINDReviewOne": "", "WatchINDReviewOneOpinion": "",
            "WarningINDReviewOne": "", "WarningINDReviewOneOpinion": "",
            "C07AdvancedReviewOne": "", "C07AdvancedReviewOneOpinion": "",
            "D62ReviewTwo": "", "D62ReviewTwoOpinion": "",
            "D63、D64ReviewTwo": "", "D63、D64ReviewTwoOpinion": "",
            "SummaryReviewTwo": "", "SummaryReviewTwoOpinion": "",
            "WatchINDReviewTwo": "", "WatchINDReviewTwoOpinion": "",
            "WarningINDReviewTwo": "", "WarningINDReviewTwoOpinion": "",
            "C07AdvancedReviewTwo": "", "C07AdvancedReviewTwoOpinion": ""
        }

        //Joe:查詢表單(量化評估需求資訊檔:查詢/修改,風控覆核專區(經辦):查詢/修改)
        function search() {
            $('#formDiv').children().remove();
            if ($('#datepicker').val() == "" || $('#version').find(':selected').val() == "" || $('#status').find(':selected').val() == "") {
                alert("請篩選查詢條件!");
                return;
            }
            url.search = url.handle;
            if ($('#status').find(':selected').val() != "0") {
                url.search = url.review;
            }
            if ($('#myForm').valid()) {
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({
                        data: [$('#datepicker').val(), $('#version').find(':selected').val(), $('#status').find(':selected').val()]
                    }),
                    dataType: "json",
                    url: url.search,
                    contentType: 'application/json'
                })
                    .done(function (result) {
                        if (result.RETURN_FLAG) {
                            //Joe:取得簽核資料
                            signOffData["Reference_Nbr"] = result.Datas.Data[0].Reference_Nbr;
                            signOffData["Create_User"] = result.Datas.Data[0].Create_User;
                            signOffData["First_Order_User"] = result.Datas.Data[0].First_Order_User;
                            signOffData["Second_Order_User"] = result.Datas.Data[0].Second_Order_User;
                            signOffData["First_Order_Confirm"] = result.Datas.Data[0].First_Order_Confirm;
                            signOffData["Second_Order_Confirm"] = result.Datas.Data[0].Second_Order_Confirm;
                            signOffData["Report_Date"] = $('#datepicker').val();
                            signOffData["Version"] = $('#version').find(':selected').val();
                            signOffData["Before_Status"] = $('#status').find(':selected').val();
                            //Joe:取得報表資料
                            for (var i = 0; i < Object.keys(reportData).length; i++) {
                                var getDataValue = Object.keys(reportData)[i].replace('、','_');
                                reportData[Object.keys(reportData)[i]] = result.Datas.Data[0][getDataValue];
                                signOffData[Object.keys(reportData)[i]] = result.Datas.Data[0][getDataValue];
                            }
                            //Joe:建立表單
                            if (signOffData["Create_User"] != null && signOffData["Create_User"] != '@ViewBag.userID') {
                                alert("此表單無編輯權限!");
                                return;
                            }
                            else if (signOffData["Create_User"] == '@ViewBag.userID') {
                                formLevel = "(表單建立者)";
                                alert("您為表單建立人員!");
                            }
                            else {
                                signOffData["Create_User"] = '@ViewBag.userID';
                            }
                            if (signOffData["First_Order_User"] != null) {
                                if (signOffData["First_Order_Confirm"] == null) {
                                    alert("一階覆核人員 " + signOffData["First_Order_User"].split(' ')[1] + " 未確認!");
                                }
                                else if (signOffData["First_Order_Confirm"] == "Y") {
                                    alert("一階覆核人員 " + signOffData["First_Order_User"].split(' ')[1] + " 已確認!");
                                }
                                else if (signOffData["First_Order_Confirm"] == "N") {
                                    alert("一階覆核人員 " + signOffData["First_Order_User"].split(' ')[1] + " 已退回!");
                                }
                            }
                            if (signOffData["Second_Order_User"] != null) {
                                if (signOffData["Second_Order_Confirm"] == null) {
                                    alert("二階覆核人員 " + signOffData["Second_Order_User"].split(' ')[1] + " 未確認!");
                                }
                                else if (signOffData["Second_Order_Confirm"] == "Y") {
                                    alert("二階覆核人員 " + signOffData["Second_Order_User"].split(' ')[1] + " 已確認!");
                                }
                                else if (signOffData["Second_Order_Confirm"] == "N") {
                                    alert("二階覆核人員 " + signOffData["Second_Order_User"].split(' ')[1] + " 已退回!");
                                }
                            }
                            userLevel = "Handle";
                            createForm();
                        }
                        else {
                            customerUtility.alert(result.DESCRIPTION, 'e');
                        }
                    })
            }
        }

        //Joe:匯出報表
        //取得報表資料(簽核意見)
        function exportReport(reportInfo) {
            //sql參數,報表參數
            var parms = [], extensionParms = [], eName;
            eName = reportInfo[1];
            if (eName == 'D63' || eName == 'D64') { eName = 'D63、D64' }
            parms.push(customerUtility.reportParm('ClassName', reportInfo[1]));
            parms.push(customerUtility.reportParm('ReportDate', $('#datepicker').val()));
            parms.push(customerUtility.reportParm('Version', $('#version').find(':selected').val()));
            parms.push(customerUtility.reportParm('ProductCode', $('#product').find(':selected').val()));
            parms.push(customerUtility.reportParm('GroupProductCode', $('#product').find(':selected').text()));
            extensionParms.push(customerUtility.reportParm('Format', reportInfo[3]));
            extensionParms.push(customerUtility.reportParm('ReportDate', $('#datepicker').val()));
            extensionParms.push(customerUtility.reportParm('Version', $('#version').find(':selected').val()));
            if (reportInfo[1] != 'Signing') {
                extensionParms.push(customerUtility.reportParm('Handle', reportData[eName + 'Handle']));
                extensionParms.push(customerUtility.reportParm('HandleOpinion', reportData[eName + 'HandleOpinion']));
                extensionParms.push(customerUtility.reportParm('ReviewOne', reportData[eName + 'ReviewOne']));
                extensionParms.push(customerUtility.reportParm('ReviewOneOpinion', reportData[eName + 'ReviewOneOpinion']));
                extensionParms.push(customerUtility.reportParm('ReviewTwo', reportData[eName + 'ReviewTwo']));
                extensionParms.push(customerUtility.reportParm('ReviewTwoOpinion', reportData[eName + 'ReviewTwoOpinion']));
            }
            switch (reportInfo[1]) {
                case 'Summary':
                    extensionParms.push(customerUtility.reportParm('cTitle', reportInfo[2]));
                    extensionParms.push(customerUtility.reportParm('Content', $('#content').find(':selected').text()));
                    extensionParms.push(customerUtility.reportParm('GroupProductCode', $('#product').find(':selected').text()));
                    break;
                case 'Signing':
                    extensionParms.push(customerUtility.reportParm('cTitle', reportInfo[2]));
                    extensionParms.push(customerUtility.reportParm('Content', $('#content').find(':selected').text()));
                    extensionParms.push(customerUtility.reportParm('GroupProductCode', $('#product').find(':selected').text()));
                    for (var i = 0; i < Object.keys(reportData).length; i++) {
                        var getDataValue = Object.keys(reportData)[i].replace('、', '_');
                        extensionParms.push(customerUtility.reportParm(getDataValue, reportData[Object.keys(reportData)[i]]));
                    }
                    break;
            }
            customerUtility.report(
                customerUtility.reportModel(reportInfo[0], reportInfo[1]),
                parms,
                extensionParms
            );
        }

        //Joe:開啟附件
        var _annexColNames = ["刪除", "附件名稱"];
        var _annexColModel = [
            {//刪除
                name: "Delete", index: "Delete", width: 40, sortable: false, align: "center", formatter: delFile
            },
            {//附件名稱
                name: "File_Name", index: "File_Name", width: 440, sortable: false, align: "center", formatter: getFile
            }
        ];
        function delFile(cellvalue, options, rdata) {
            var str = '';
            str += '<div class="btn actionDeleIcon2" title="刪除" style="padding-right:4px;padding-left:4px;padding-bottom:0px;padding-top:0px;" id="' + options.rowId + '">';
            str += '<i class="fa fa-trash fa-lg"></i></div>';
            return str;
        }
        function getFile(cellvalue, options, rdata) {
            return "<a href='javascript:void(0)' class='openDialog dlfile'>" + cellvalue + "</a>";
        }
        function openAnnex(Check_Reference, annexName) {
            var _title = annexName + " : 上傳附件";
            $('#annexFolder').val('');
            $('#annexList').children().remove();
            $('#annexFile').next().find('input').val('');
            if ($('#status').find(':selected').val() != "0") {
                $('.fileUpLoad').hide();
                _title = annexName + " : 檢視附件";
                _annexColModel.shift();
                _annexColModel[0].width = "480";
                _annexColNames.splice($.inArray("刪除", _annexColNames), 1);
            }
            $("#annexDiv").dialog({
                modal: true,
                width: 'auto',
                title: _title,
                autoOpen: false,
                resizable: false,
                position: { my: "center top", at: "center top", of: window }
            });
            $("#annexDiv").dialog("open");
            $('#annexFolder').val(Check_Reference);
            createAnnexList(_annexColNames, _annexColModel, getAnnex(Check_Reference));
        }

        //Joe:檔案上傳
        function annexFileSubmit() {
            var sameFlag = "N";
            var _annexData = new FormData();
            if ($('#annexFile').next().find('input').val() == "") {
                customerUtility.alert('請選擇檔案!', 'w');
                return false;
            }
            $.each($('#annexTable').getGridParam('data'), function (i, v) {
                if ($('#annexFile').next().find('input').val() == v.File_Name) {
                    sameFlag = "Y";
                }
            })
            if (sameFlag == "Y") {
                if (!confirm("已經有檔名為 " + $('#annexFile').next().find('input').val() + " ,是否取代?")) {
                    return false;
                }
            }
            if ($("#annexForm").attr("enctype") == "multipart/form-data") {
                _annexData.append("UploadedFile", $("#annexFile").get(0).files[0]);
                _annexData.append("Check_Reference", $('#annexFolder').val());
                _annexData.append("sameFlag", sameFlag);
                _annexData.append("type", "D6RiskReview");
            }
            $.ajax({
                type: "POST",
                data: _annexData,
                dataType: "json",
                url: $("#annexForm").attr("action"),
                contentType: false,
                processData: false
            })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        $('#annexList').children().remove();
                        customerUtility.alert("檔案上傳成功!", 's');
                        createAnnexList(_annexColNames, _annexColModel, result.Datas.Data);
                        $('#link_UploadView_' + $('#annexFolder').val().split('_')[1]).text('上傳或檢視(' + result.Datas.Data.length + ')');
                    }
                    else {
                        customerUtility.alert(result.DESCRIPTION, 'e');
                    }
                })
        }

        //Joe:檔案刪除
        function annexFileDelete(Check_Reference, fileName) {
            if (!confirm("確定把檔案刪除?")) {
                return false;
            }
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    fileName: fileName,
                    type: 'D6RiskReview',
                    Check_Reference: Check_Reference
                }),
                dataType: "json",
                url: url.delFile,
                contentType: 'application/json'
            })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        $('#annexList').children().remove();
                        createAnnexList(_annexColNames, _annexColModel, result.Datas.Data);
                        $('#link_UploadView_' + $('#annexFolder').val().split('_')[1]).text('上傳或檢視(' + result.Datas.Data.length + ')');
                        customerUtility.alert(result.DESCRIPTION, 's');
                    }
                    else {
                        customerUtility.alert(result.DESCRIPTION, 'e');
                    }
                });
        }

        //Joe:開啟簽核
        var opinion = null;
        var _signOffColModel = [
            {//刪除
                name: "Delete", index: "Delete", width: 40, sortable: false, align: "center", formatter: delFile
            },
            {//意見
                name: "Opinion", index: "Opinion", width: 355, sortable: false, align: "left", formatter: getOpinion
            },
            {//簽辦人員
                name: "Signatory", index: "Signatory", width: 85, sortable: false, align: "left"
            }
        ];
        function getOpinion(cellvalue, options, rdata) {
            return '<div class="openDialog getText" id="' + options.rowId + '">' + cellvalue + '</div>';
        }
        function openSignOff(idName, signOffName) {
            opinion = idName;
            $('.textareaEdit').show();
            $('#signOffTextArea').val('');
            $('#signOffSave').attr('value', '存檔');
            $("#signOffDiv").dialog({
                modal: true,
                width: 'auto',
                title: signOffName + ' : 簽核意見',
                autoOpen: false,
                resizable: false,
                position: { my: "center top", at: "center top", of: window }
            });
            $("#signOffDiv").dialog("open");
            createOpinionList(_signOffColModel)
        }

        //Joe:儲存簽核
        function signOffSave() {
            if ($('#signOffTextArea').val() == "") {
                alert("請輸入簽核意見!");
                return;
            }
            signOffData[opinion + userLevel + "Opinion"] = $('#signOffTextArea').val();
            signOffData[opinion + userLevel] = '@ViewBag.userName' + " (" + date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + ")";
            $('#signOffTextArea').val('');
            createOpinionList(_signOffColModel);
        }

        //Joe:取消簽核
        function signOffCancel() {
            $("#signOffDiv").dialog("close");
        }

        //Joe:刪除簽核
        function signOffDelete() {
            if (!confirm("確定刪除?")) {
                return false;
            }
            $('.textareaEdit').show();
            $('#signOffTextArea').val('');
            $('#signOffSave').attr('value', '存檔');
            signOffData[opinion + userLevel + "Opinion"] = null;
            signOffData[opinion + userLevel] = null;
            createOpinionList(_signOffColModel);
        }

        //Joe:覆核者確認
        function reviewConfirm() {
            if ($('#reviewOne').find(':selected').val() == "" || $('#reviewTwo').find(':selected').val() == "") {
                alert("請選擇覆核者!");
                return;
            }
            if (!confirm("確定呈送覆核?")) {
                return false;
            }
            signOffData["Version_Content"] = $('input:radio:checked[name="content"]').val();
            signOffData["Status"] = "1";
            signOffData["Description"] = "待覆核";
            signOffData["Group_Product_Code"] = $('#product').find(':selected').val();
            signOffData["Group_Product_Name"] = $('#product').find(':selected').text();
            signOffData["First_Order_User"] = $('#reviewOne').find(':selected').text();
            signOffData["Second_Order_User"] = $('#reviewTwo').find(':selected').text();
            $("#reviewDiv").dialog("close");
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    data: signOffData
                }),
                dataType: "json",
                url: url.submit,
                contentType: 'application/json'
            })
                .done(function (result) {
                    if (result.RETURN_FLAG) {
                        contentFun();
                        customerUtility.alert(result.DESCRIPTION, 'e');
                    }
                    else {
                        search();
                        customerUtility.alert(result.DESCRIPTION, 'e');
                    }
                });
        }

        //Joe:覆核者取消
        function reviewCancel() {
            $("#reviewDiv").dialog("close");
        }

        //Joe:建立表單
        function createForm() {
            var idNames = ["Summary", "C07Advanced", "D62", "WarningIND", "WatchIND", "D63、D64", "All"];
            var radioNames = ["空白", "一關(自結)", "二關(自結)"];
            var reportNames = ["1.摘要/IFRS9金融工具-預期信用損失", "2.減損計算(C07Advanced)", "3.基本要件測試(D62)", "4.預警名單", "5.觀察名單", "6.量化測試(D63、D64)", "7.全部"];
            var htmRadio = "<div><input type='radio' name='content' value='_value'>_text</div>";
            var htmLink = "<a href='javascript:void(0)' class='openDialog' id='_id' name='_name'>_text</a >";
            var htmButton = "<input type='button' class='btn btn-primary' style='width:83px;' id='_id' value='_value'>";
            $('#formDiv').append('<table id=formTable></table>');
            var _formColModel = [
                {//覆核狀態
                    name: "Status", index: "Status", width: 85, sortable: false, align: "center",
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'id=\'Status' + rowId + "\'";
                    }
                },
                {//評估基準日/報導日
                    name: "Date", index: "Date", width: 85, sortable: false, align: "center",
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'id=\'Date' + rowId + "\'";
                    }
                },
                {//版本
                    name: "Version", index: "Version", width: 40, sortable: false, align: "center",
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'id=\'Version' + rowId + "\'";
                    }
                },
                {//版本內容
                    name: "Content", index: "Content", width: 85, sortable: false, align: "left",
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'id=\'Content' + rowId + "\'";
                    }
                },
                {//產品
                    name: "Product", index: "Product", width: 215, sortable: false, align: "center",
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'id=\'Product' + rowId + "\'";
                    }
                },
                {//匯出
                    name: "Export", index: "Export", width: 40, sortable: false, align: "center",
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'id=\'Export' + rowId + "\'";
                    },
                    editable: true, edittype: "checkbox", editoptions: { value: "True:False" },
                    formatter: "checkbox", formatoptions: { disabled: false }
                },
                {//報表
                    name: "Report", index: "Report", width: 180, sortable: false, align: "left",
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'id=\'Report' + rowId + "\'";
                    }
                },
                {//附件
                    name: "Annex", index: "Annex", width: 90, sortable: false, align: "center",
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'id=\'Annex' + rowId + "\'";
                    }
                },
                {//簽核意見
                    name: "Signing", index: "Signing", width: 90, sortable: false, align: "center",
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'id=\'Signing' + rowId + "\'";
                    }
                },
                {//執行動作
                    name: "Action", index: "Action", width: 90, sortable: false, align: "left",
                    cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        return 'id=\'Action' + rowId + "\'";
                    }
                }
            ];

            //Joe:顯示表單
            $('#formTable').jqGrid({
                datatype: "local",
                shrinkToFit: false,
                caption: "風控覆核專區(經辦) : " + signOffData.Reference_Nbr + formLevel,
                width: jqgridCustom.getwidth(),
                height: 200,
                data: [{}, {}, {}, {}, {}, {}, {}],
                colNames: ["覆核狀態", "評估基準日<br/>/報導日", "版本", "版本內容", "產品", "匯出", "報表", "附件", "簽核意見", "執行動作"],
                colModel: _formColModel,
                loadComplete: function () {
                    //覆核狀態
                    customerUtility.rowFieldMerge('formTable', 'Status', 1, 7);
                    $('#formTable').jqGrid('setRowData', 1, { Status: '<br><br><br><br>' + $('#status').find(':selected').text() });
                    //評估基準日/報導日
                    customerUtility.rowFieldMerge('formTable', 'Date', 1, 7);
                    $('#formTable').jqGrid('setRowData', 1, { Date: '<br><br><br><br>' + $('#datepicker').val() });
                    //版本
                    customerUtility.rowFieldMerge('formTable', 'Version', 1, 7);
                    $('#formTable').jqGrid('setRowData', 1, { Version: '<br><br><br><br>' + $('#version').find(':selected').text() });
                    //版本內容
                    customerUtility.rowFieldMerge('formTable', 'Content', 1, 7);
                    if ($('#content').find(':selected').text() == "" || $('#status').find(':selected').val() == "0") {
                        var htm = "";
                        for (var i = 0; i < radioNames.length; i++) {
                            htm += htmRadio.replace('_value', radioNames[i]).replace('_text', radioNames[i]);
                        }
                        $('#formTable').jqGrid('setRowData', 1, { Content: '<br><br><br>' + htm });
                    }
                    else {
                        $('#formTable').jqGrid('setRowData', 1, { Content: '<br><br><br><br>' + $('#content').find(':selected').text() });
                    }
                    //產品
                    customerUtility.rowFieldMerge('formTable', 'Product', 1, 7);
                    $('#formTable').jqGrid('setRowData', 1, { Product: '<br><br><br><br>' + $('#product').find(':selected').text() });
                    //匯出
                    $('#formTable').find('input[type=checkbox]').each(function (index) {
                        $(this).attr('id', 'chk_' + idNames[index]);
                        $(this).attr('name', 'chk_' + reportNames[index]);
                    });
                    //報表
                    htm = htmButton.replace('_id', 'btn_Excel').replace('_value', '匯出Excel');
                    htm += '&nbsp;' + htmButton.replace('_id', 'btn_PDF').replace('_value', '匯出PDF');
                    reportNames.splice(reportNames.length - 1, 1, htm);
                    for (var i = 0; i < reportNames.length; i++) {
                        if (i < reportNames.length - 1) {
                            htm = htmLink.replace('_id', 'link_Preview_' + idNames[i]).replace('_name', 'link_Preview_' + reportNames[i].split('/')[1]).replace('_text', reportNames[i].split('/')[0]);
                            reportNames.splice(i, 1, htm);
                        }
                        $('#formTable').jqGrid('setRowData', i + 1, { Report: reportNames[i] });
                    }
                    //附件
                    reportNames = ["1.摘要/IFRS9金融工具-預期信用損失", "2.減損計算(C07Advanced)", "3.基本要件測試(D62)", "4.預警名單", "5.觀察名單", "6.量化測試(D63、D64)", "7.全部"];
                    for (var i = 0; i < idNames.length - 1; i++) {
                        var Check_Reference = signOffData.Reference_Nbr + "_" + idNames[i];
                        var num = getAnnex(Check_Reference).length;
                        if (num == undefined) { num = 0; }
                        htm = htmLink.replace('_id', 'link_UploadView_' + idNames[i]).replace('_name', 'link_UploadView_' + reportNames[i].split('/')[0]).replace('_text', '上傳或檢視(' + num + ')');
                        $('#formTable').jqGrid('setRowData', i + 1, { Annex: htm });
                    }
                    //簽核意見
                    htm = htmButton.replace('_id', 'btn_Signing').replace('_value', '下載簽核意見');
                    idNames.splice(idNames.length - 1, 1, htm);
                    for (var i = 0; i < idNames.length; i++) {
                        if (i < idNames.length - 1) {
                            var num = 0;
                            signOffData[idNames[i] + "Handle"] == null ? num = num : num++;
                            signOffData[idNames[i] + "ReviewOne"] == null ? num = num : num++;
                            signOffData[idNames[i] + "ReviewTwo"] == null ? num = num : num++;
                            htm = htmLink.replace('_id', 'link_ModifyView_' + idNames[i]).replace('_name', 'link_ModifyView_' + reportNames[i].split('/')[0]).replace('_text', '修改或檢視(' + num + ')');
                            idNames.splice(i, 1, htm);
                        }
                        $('#formTable').jqGrid('setRowData', i + 1, { Signing: idNames[i] });
                    }
                    //執行動作
                    customerUtility.rowFieldMerge('formTable', 'Action', 2, 7);
                    $('#formTable').jqGrid("setRowData", 1, { Action: '經辦:' });
                    htm = htmButton.replace('_id', 'btn_Submit').replace('_value', '呈送覆核');
                    htm += '<br><br>' + htmButton.replace('_id', 'btn_Close').replace('_value', '銷案');
                    $('#formTable').jqGrid("setRowData", 2, { Action: htm });
                    if ($('#status').find(':selected').val() != "0") {
                        $('#btn_Submit').prop('disabled', true);
                        $('#btn_Close').prop('disabled', false);
                    } else {
                        $('#btn_Submit').prop('disabled', false);
                        $('#btn_Close').prop('disabled', true);
                    }
                    //註冊checkbox事件
                    $('#chk_All').change(function () {
                        $('input:checkbox').not(this).prop('checked', this.checked);
                    });
                    //註冊link事件
                    $('#formTable').find('a').each(function () {
                        var id = $(this).attr('id');
                        var idName = id.split('_')[1];
                        switch (idName) {
                            case 'Preview':
                                $('#' + id).on('click', function () {
                                    var cName = $(this).text().split('.')[1];
                                    var eName = $(this).attr('id').split('_')[2];
                                    var cTitle = $(this).attr('name').split('_')[2];
                                    var format = $(this).attr('id').split('_')[1];
                                    cTitle == 'undefined' ? cTitle = cName : null;
                                    eName = eName.split('、');
                                    var isArray = [].concat(eName || []);
                                    for (var i = 0; i < isArray.length; i++) {
                                        if (isArray.length > 1) {
                                            cName = "量化測試(" + isArray[i] + ")";
                                            cTitle = "量化測試(" + isArray[i] + ")";
                                        }
                                        var reportInfo = [cName, isArray[i], cTitle, format];
                                        exportReport(reportInfo);
                                    }
                                })
                                break;
                            case 'UploadView':
                                $('#' + id).on('click', function () {
                                    var Check_Reference = signOffData.Reference_Nbr + "_" + $(this).attr('id').split('_')[2];
                                    openAnnex(Check_Reference, $(this).attr('name').split('_')[2]);
                                })
                                break;
                            case 'ModifyView':
                                $('#' + id).on('click', function () {
                                    var idName = id.split('_')[2];
                                    openSignOff(idName, $(this).attr('name').split('_')[2]);
                                })
                                break;
                        }
                    })
                    //註冊click事件
                    $('input:button').each(function () {
                        var id = $(this).attr('id');
                        switch (id) {
                            case 'btn_Excel':
                            case 'btn_PDF':
                                $('#' + id).on('click', function () {
                                    var cName = "";
                                    var eName = "";
                                    var cTitle = "";
                                    var format = $(this).attr('id').split('_')[1];
                                    $('#formTable').find(':checked').each(function () {
                                        cName = $(this).attr('name').split('.')[1].split('/')[0];
                                        eName = $(this).attr('id').split('_')[1];
                                        cTitle = $(this).attr('name').split('.')[1].split('/')[1];
                                        cTitle == undefined ? cTitle = cName : null;
                                        eName = eName.split('、');
                                        var isArray = [].concat(eName || []);
                                        for (var i = 0; i < isArray.length; i++) {
                                            if (isArray.length > 1) {
                                                cName = "量化測試(" + isArray[i] + ")";
                                                cTitle = "量化測試(" + isArray[i] + ")";
                                            }
                                            if (cName != "全部") {
                                                var reportInfo = [cName, isArray[i], cTitle, format];
                                                exportReport(reportInfo);
                                            }
                                        }
                                    })
                                    if (cName == "" || eName == "" || cTitle == undefined) {
                                        customerUtility.alert('請至少選擇一份報表!', 'e');
                                    }
                                });
                                break;
                            case 'btn_Signing':
                                $('#' + id).on('click', function () {
                                    var cName = "摘要 簽核意見";
                                    var eName = "Signing";
                                    var cTitle = "IFRS9金融工具-預期信用損失 簽核意見";
                                    var format = "PDF";
                                    var reportInfo = [cName, eName, cTitle, format];
                                    exportReport(reportInfo);
                                })
                                break;
                            case 'btn_Submit':
                                $('#' + id).on('click', function () {
                                    if ($('input:radio:checked[name="content"]').val() == undefined) {
                                        alert("請選擇版本內容!");
                                        return;
                                    }
                                    $('#reviewOne').val('');
                                    $('#reviewTwo').val('');
                                    $("#reviewDiv").dialog({
                                        modal: true,
                                        width: 'auto',
                                        title: '覆核者確認',
                                        autoOpen: false,
                                        resizable: false,
                                        position: { my: "center top", at: "center top", of: window }
                                    });
                                    $("#reviewDiv").dialog("open");
                                })
                                break;
                            case 'btn_Close':
                                $('#' + id).on('click', function () {
                                    if (!confirm("確定銷案?")) {
                                        return false;
                                    }
                                    signOffData["Status"] = "0";
                                    $.ajax({
                                        type: "POST",
                                        data: JSON.stringify({
                                            data: signOffData
                                        }),
                                        dataType: "json",
                                        url: url.close,
                                        contentType: 'application/json'
                                    })
                                        .done(function (result) {
                                            if (result.RETURN_FLAG) {
                                                contentFun();
                                                customerUtility.alert(result.DESCRIPTION, 'e');
                                            }
                                            else {
                                                search();
                                                customerUtility.alert(result.DESCRIPTION, 'e');
                                            }
                                        });
                                })
                                break;
                        }
                    })
                }
            })
        }

        //Joe:顯示附件清單
        function createAnnexList(_annexColNames, _annexColModel, _annexData) {
            $('#annexList').append('<table id=annexTable></table>');
            $('#annexList').append('<div id=annexPager></div>');
            $('#annexTable').jqGrid({
                datatype: "local",
                shrinkToFit: false,
                caption: "附件清單",
                width: 482,
                height: 290,
                data: _annexData,
                colNames: _annexColNames,
                colModel: _annexColModel,
                rowNum: 10,
                pager: '#annexPager',
                autoencode: true,
                sortorder: 'desc',
                viewrecords: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    var table = $(this);
                    jqgridCustom.updatePagerIcons(table);
                    $('#annexTable > tbody > tr:gt(0) ').each(function () {
                        var fileName = $(this).find($.validator.format('td[aria-describedby$={0}_File_Name]', 'annexTable')).text();
                        $(this).find('td').find('a.dlfile').each(function(){
                            $(this).on('click',function(){
                                customerUtility.onbeforeunloadFlag = false;
                                window.location.href = "@Url.RouteUrl(new
                                { Controller = "D6", Action = "DLRiskReviewFile" })/?Check_Reference="
                                    + $('#annexFolder').val()
                                    + "&fileName=" + fileName;
                            });
                        });
                        $(this).find('td').find('div.actionDeleIcon2').each(function () {
                            $(this).on('click', function () {
                                annexFileDelete($('#annexFolder').val(), fileName);
                            });
                        });
                    });
                }
            })
            $("#annexTable").jqGrid('navGrid', '#annexPager', { edit: false, add: false, del: false, search: false, refresh: false });
        }

        //Joe:顯示簽核清單
        function createOpinionList(_signOffColModel) {
            $('#opinionList').children().remove();
            $('#opinionList').append('<table id=opinionTable></table>');
            $('#opinionTable').jqGrid({
                datatype: "local",
                shrinkToFit: false,
                caption: "意見清單",
                width: 482,
                height: 130,
                colNames: ["刪除", "意見", "簽辦人員"],
                colModel: _signOffColModel,
                autoencode: true,
                sortorder: 'desc',
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    var num = 0;
                    if ($('#status').find(':selected').val() != "0") { $('.textareaEdit').hide(); }
                    if (signOffData[opinion + "Handle"] != null) {
                        if ("Handle" == userLevel) { $('.textareaEdit').hide(); }
                        $('#opinionTable').jqGrid('addRowData', signOffData["Create_User"], { Delete: "" });
                        $('#opinionTable').jqGrid('setRowData', signOffData["Create_User"], { Opinion: signOffData[opinion + "HandleOpinion"] });
                        $('#opinionTable').jqGrid('setRowData', signOffData["Create_User"], { Signatory: signOffData[opinion + "Handle"].replace(' ', '\n') });
                        num++;
                    }
                    if (signOffData[opinion + "ReviewOne"] != null) {
                        if ("ReviewOne" == userLevel) { $('.textareaEdit').hide(); }
                        $('#opinionTable').jqGrid('addRowData', signOffData["First_Order_User"].split(' ')[0], { Delete: "" });
                        $('#opinionTable').jqGrid('setRowData', signOffData["First_Order_User"].split(' ')[0], { Opinion: signOffData[opinion + "ReviewOneOpinion"] });
                        $('#opinionTable').jqGrid('setRowData', signOffData["First_Order_User"].split(' ')[0], { Signatory: signOffData[opinion + "ReviewOne"].replace(' ', '\n') });
                        num++;
                    }
                    if (signOffData[opinion + "ReviewTwo"] != null) {
                        if ("ReviewTwo" == userLevel) { $('.textareaEdit').hide(); }
                        $('#opinionTable').jqGrid('addRowData', signOffData["Second_Order_User"].split(' ')[0], { Delete: "" });
                        $('#opinionTable').jqGrid('setRowData', signOffData["Second_Order_User"].split(' ')[0], { Opinion: signOffData[opinion + "ReviewTwoOpinion"] });
                        $('#opinionTable').jqGrid('setRowData', signOffData["Second_Order_User"].split(' ')[0], { Signatory: signOffData[opinion + "ReviewTwo"].replace(' ', '\n') });
                        num++;
                    }
                    $('#link_ModifyView_' + opinion).text('修改或檢視(' + num + ')');
                    $('#opinionTable > tbody > tr:gt(0) ').each(function () {
                        $(this).find('td').find('div.actionDeleIcon2').each(function () {
                            $(this).on('click', function () {
                                if ('@ViewBag.userID' == $(this).attr('id') && $('#status').find(':selected').val() == "0") {
                                    signOffDelete();
                                }
                                else {
                                    alert("您無此權限!");
                                }
                            });
                        });
                        $(this).find('td').find('div.getText').each(function () {
                            $(this).on('click', function () {
                                if ('@ViewBag.userID' == $(this).attr('id') && $('#status').find(':selected').val() == "0") {
                                    $('.textareaEdit').show();
                                    $('#signOffSave').attr('value', '修改');
                                    $('#signOffTextArea').val($(this).text());
                                }
                                else {
                                    alert("您無此權限!");
                                }
                            });
                        });
                    })
                }
            })
        }
    });
</script>